<footer class="footer bg-secondary">
    <div class="container px-3 mx-auto flex flex-col md:flex-row py-3">
        <img class="mr-auto my-0" src="./assets/images/cuinuoc.png" alt="Logo Cuinuoc">
        <nav class="flex items-center justify-between md:justify-end md:mr-auto py-5 px-2.5">
            <include src="./components/nav_items.html"></include>
        </nav>
        <div class="social flex justify-center items-center">
            <include src="./components/nav_rrss.html"></include>
        </div>
    </div>
</footer>